<!DOCTYPE html>
<html>
<head>
	<title>MESSAGE CHAT</title>
    <link href="webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="home.css" rel="stylesheet">
    <script src="webjars/jquery/jquery.min.js"></script>
    <script src="webjars/sockjs-client/sockjs.min.js"></script>
    <script src="webjars/stomp-websocket/stomp.min.js"></script>    
    <script src="app.js" type="text/javascript"></script> 
</head>
<body>
<noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being
    enabled. Please enable
    Javascript and reload this page!</h2></noscript>
<div id="main-content" class="container">
  <div class= "header">
	   <form class="form-inline">
	      <h1>WebChat</h1>
	      <button class="btn" style="background-color:black; width: 100px; margin-left: 450px;">				
			<i sec:authorize="isAuthenticated()"><a th:href="@{/logout}" style="color: white;"> termina sessione</a></i>				
	   	  </button>
	   </form>
  </div>
	
  <div class = "headerconnection">
    <div class="row">
          <div class="col-md-6">
              <form class="form-inline">
                  <div class="form-group">
                      <label for="connect">CONNESSIONE: </label>
                      <button id="connect" class="btn btn-default" type="submit">connesso</button>
                      <button id="disconnect" class="btn btn-default" type="submit" disabled="disabled">disconnesso
                      </button>
                  </div>
              </form>
          </div>

          <div class="col-md-6">
              <form class="form-inline">
                <div class="form-group">
                            <label for="name">SCRIVI IL TUO NOME: </label>
                            <input type="text" id="name"
                              class="inputname"  
                              placeholder="Scrivi il tuo nome qui...">
                </div>
              </form>
          </div>	
      </div>
  </div>
  <div class= "body">
       <div class="row" style="margin-top:20px;">
          <div class="col-md-12">
              <table id="conversation" class="table table-striped">
                  <p class="messagein" id="output"></p> 
              </table>
          </div>
      </div>
  </div>
  <div class= "footer">
              <!--label for="message">Scrivi il tuo messaggio:</label-->
                <form class="form-inline">
                    <input type="text" id="message" class="form-control"  placeholder="Scrivi il testo qui...">
                    <button id="send" type="submit">SPEDISCI</button>
                </form>
  </div>
</div>
</body>
</html>