<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
	<head>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
		<title>Registrazione</title>
	</head>
	<body style="margin:0; padding:0; height: 100hv;
  				 font-family: montserrat;
  				 background:  #2980b9;  
  				 overflow: hidden;">		
  		<div class="container">		 
	  	   	<div th:if="${param.success}"> 
			    <div class="alert alert-success" style="text-align: center;">
					<i class="fa fa-check-circle" style="font-size:40px;color:rgb(24, 199, 68);margin-right:10px;"></i>
					<strong>  Iscrizione avvenuta con successo! </strong>
				</div>	
		  	</div>
		  	<div th:if="${param.esito}"> 
			    <div class="alert alert-warning" style="text-align: center;">
					<i class="fa fa-exclamation-circle" style="font-size:40px;color:rgb(255, 128, 0);margin-right:10px;"></i>
					<strong>  Attenzione! </strong> Email già esistente.
					<button style="margin-left:5px;color:rgb(255, 128, 0)">
						<a href="./new" style="color:rgb(255, 128, 0)"><i class="fa fa-close"></i></a>
					</button>
				</div>	
		  	</div>
  		</div>
		<div class="center" style="position: absolute; top: 50%; left: 50%;
								  transform: translate(-50%, -50%);
								  width: 400px; background: white;
								  border-radius: 10px; text-align: center;">
		     <h1>Registrazione</h1>
			 <form th:action="@{./new}" method="post" th:object="${user}" style="padding: 0 40px; box-sizing: border-box;">
				<div class="txt_field" style="position: relative; border-bottom: 2px solid #adadad; margin: 30px 0;">
					<lable class="control-lable" style="position: absolute; top: -35%; margin-left: -49%; color: #adadad;
  								  transform: translateY(-50%); font-size: 16 px; pointer-events: none;">Username</lable>
					<input class="form-control" th:field="*{email}" type="text" name="username" required autocomplete="on"
	          		 	   style="width: 100%; padding: 0 5px; height: 40px; font-size: 16px; border: none;
  								  background-color: aliceblue; outline: none;"/>
				</div>
				<div class="txt_field">
					<lable class="control-lable" style="position: absolute; color: #adadad; top: 50%; margin-left: -39%;
  							font-size: 16 px; pointer-events: none;">Password</lable>
					<input class="form-control" th:field="*{password}" type="password" name="password" required
	          		 style="width: 100%; padding: 0 5px; height: 40px; font-size: 16px; border: none;
  							background-color: aliceblue; outline: none;"/>	          
	        	</div>
				<button type="submit" style="margin-top: 20px; margin-bottom: 20px">Registra </button>
					<span>Sei stato registrato. <a th:href="@{./login}"> Inizia</a></span>
			</form>
		</div>
	</body>
</html>

